/* Light Mood */
body.light {
    background-color: #fff;
    color: #000;
  }
  
  /* Dark Mood */
  body.dark {
    background-color: rgb(14, 3, 14);
    color: #ffffff;

  }
  
  body.dark a {
    color: #ffffff;
  }
  
 
  


  