/* App.css */
  
/* LIGHT MODE */
body.light {
    background-color: #fff;
    color: #000;
    
    
  }
  
  /* DARK MODE */
  body.dark {
    background-color: rgb(14, 3, 14);
    color: #ffffff;

  }
  
  body.dark a {
    color: #ffffff;
  }
  
 
  


  